APP_ENV=

SERVER_HOST=
SERVER_PORT=

LOG_LEVEL=

DB_MYSQL_HOST=
DB_MYSQL_PORT=
DB_MYSQL_USERNAME=
DB_MYSQL_PASSWORD=
DB_MYSQL_DATABASE=

DB_LOG_LEVEL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

KAFKA_BROKERS=
