# KRaft
KAFKA_NODE_ID=
KAFKA_PROCESS_ROLES=

# Controller
KAFKA_CONTROLLER_QUORUM_VOTERS=
KAFKA_CONTROLLER_LISTENER_NAMES=

# Listeners
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_INTER_BROKER_LISTENER_NAME=

# Single-node development setup
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=

# Topic defaults
KAFKA_NUM_PARTITIONS=
KAFKA_AUTO_CREATE_TOPICS_ENABLE=

# Storage
KAFKA_LOG_DIRS=